.crappy-plastic-part-made-in-china2 {
        background-color: #375777;
        height: 1.8em;
        font-size: 4em;
        overflow: hidden;
        position:relative;
        margin-top: 10px;
        width:4em;
        left:1em;
      }

      .crappy-plastic-part-made-in-china2 ul {
        list-style: none;
        padding: 0;
        margin: -2em -20px 0 0;
        width: 0.95em;
        height: 6em;
        float: left;
      }

      .gameback {
        position:absolute;
        background-color: #375777;
        height: 11.5em;
        overflow: hidden;
        width:100%;
        margin-top:1.25em;
        z-index: 100;

        opacity: 0;
        border: none;
}

      .saw-finish {
            z-index:99;
            position: absolute;
            top: 0pt;
            bottom: 0pt;
            right: 300pt;
            width: 20px;
            background: url('../img/saw-finish.png') repeat scroll 0% 0% transparent;
            overflow-y: scroll; overflow: hidden;
            margin-top: 1.25em;
            height: 12.5em;
        }

      .saw-black {
            z-index:98;
            position: absolute;
            top: 0pt;
            bottom: 0pt;
            right: 300pt;
            width: 20px;
            background: url('../img/saw-black.png') repeat scroll 0% 0% transparent;
            overflow-y: scroll; overflow: hidden;
            margin-top:1.25em;
            height: 7.8em;
        }
      .saw-white {
            z-index:98;
            position: absolute;
            top: 0pt;
            bottom: 0pt;
            right: 300pt;
            width: 20px;
            background: url('../img/saw-white.png') repeat scroll 0% 0% transparent;
            overflow-y: scroll; overflow: hidden;
            margin-top: 8.75em;
            height: 4em;
        }